<ul id='users-list'>
<% @users.each do |user| %>
  <%= link_to user_path(user.id) do %>
    <li class='user-item'>
      <%= render partial: 'user_item', locals: { user: user } %>
    </li>
  <% end %>
<% end %>
</ul>
