<ul id='users-list'>
  <li class='user-item'>
  <img src='https://picsum.photos/100', alt='user-avatar', class='user-avatar'/>
  <section class='user-info'>
    <h2 class='user-name'>User Name</h2>
    <p class='user-posts-counter'>Number of posts: X</p>
  </section>
  </li>
    <li class='user-item'>
  <img src='https://picsum.photos/100', alt='user-avatar', class='user-avatar'/>
  <section class='user-info'>
    <h2 class='user-name'>User Name</h2>
    <p class='user-posts-counter'>Number of posts: X</p>
  </section>
  </li>
    <li class='user-item'>
  <img src='https://picsum.photos/100', alt='user-avatar', class='user-avatar'/>
  <section class='user-info'>
    <h2 class='user-name'>User Name</h2>
    <p class='user-posts-counter'>Number of posts: X</p>
  </section>
  </li>
    <li class='user-item'>
  <img src='https://picsum.photos/100', alt='user-avatar', class='user-avatar'/>
  <section class='user-info'>
    <h2 class='user-name'>User Name</h2>
    <p class='user-posts-counter'>Number of posts: X</p>
  </section>
  </li>
    <li class='user-item'>
  <img src='https://picsum.photos/100', alt='user-avatar', class='user-avatar'/>
  <section class='user-info'>
    <h2 class='user-name'>User Name</h2>
    <p class='user-posts-counter'>Number of posts: X</p>
  </section>
  </li>
</ul>
