<article id='user-page'>
  <article id="user-data">
    <section class='user-item'>
      <img src='https://picsum.photos/100', alt='user-avatar', class='user-avatar'/>
      <section class='user-info'>
        <h2 class='user-name'> <%= @user.name %> </h2>
        <p class='user-posts-counter'>Number of posts: <%= @user.posts_counter %> </p>
      </section>
    </section>
    <secttion id='bio-section'>
      <h2>Bio</h2>
      <p> <% @user.bio %> </p>
    </secttion>
  </article>
  <article class='posts-section'>
    <ul id='posts-list'>
      <% @user.last_three_posts.each do |post| %>
        <%= link_to user_posts_path(post.author_id) do %>
          <li class='post-item'>
            <%= render partial: "shared/post_item", locals: { post: post } %>
          </li>
        <% end %>
      <% end %>
    </ul>
    <button>See all posts</button>
  </article>
</article>
