<article id='user-page'>
  <article id="user-data">
    <section class='user-item'>
      <img src='https://picsum.photos/100', alt='user-avatar', class='user-avatar'/>
      <section class='user-info'>
        <h2 class='user-name'>User Name</h2>
        <p class='user-posts-counter'>Number of posts: X</p>
      </section>
    </section>
    <secttion id='bio-section'>
      <h2>Bio</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi iaculis augue nisl, ut tempus justo sodales non. Duis blandit imperdiet bibendum. Nulla aliquet ullamcorper eleifend. Cras vitae sem nisl. Nunc leo diam, tincidunt vel iaculis quis, dictum quis ligula. Donec mollis ultrices ante, et blandit velit tincidunt sit amet. Vestibulum maximus quis ante nec consequat. Nunc tristique facilisis arcu sit amet auctor. Aenean sed posuere nunc, in mollis nisl. Morbi non porta urna. Integer volutpat placerat aliquam. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nulla facilisi. Nunc ultrices eros non vestibulum rutrum.</p>
    </secttion>
  </article>
  <article id='posts-section'>
    <ul id='posts-list'>
      <li class='post-item'>
        <h3 class='post-number'>Post #1</h3>
        <p class='post-content'>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi iaculis augue nisl, ut tempus justo sodales non. Duis blandit imperdiet bibendum. Nulla aliquet ullamcorper eleifend. Cras vitae sem nisl. Nunc leo diam, tincidunt vel iaculis quis, dictum quis ligula. Donec mollis ultrices ante, et blandit velit tincidunt sit amet. Vestibulum maximus quis ante nec consequat.</p>
        <section class='interaction-section'>
          <p>Comments: X, Likes: Y</p>
        </section>
      </li>
      <li class='post-item'>
        <h3 class='post-number'>Post #2</h3>
        <p class='post-content'>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi iaculis augue nisl, ut tempus justo sodales non. Duis blandit imperdiet bibendum. Nulla aliquet ullamcorper eleifend. Cras vitae sem nisl. Nunc leo diam, tincidunt vel iaculis quis, dictum quis ligula. Donec mollis ultrices ante, et blandit velit tincidunt sit amet. Vestibulum maximus quis ante nec consequat.</p>
        <section class='interaction-section'>
          <p>Comments: X, Likes: Y</p>
        </section>
      </li>
      <li class='post-item'>
        <h3 class='post-number'>Post #3</h3>
        <p class='post-content'>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi iaculis augue nisl, ut tempus justo sodales non. Duis blandit imperdiet bibendum. Nulla aliquet ullamcorper eleifend. Cras vitae sem nisl. Nunc leo diam, tincidunt vel iaculis quis, dictum quis ligula. Donec mollis ultrices ante, et blandit velit tincidunt sit amet. Vestibulum maximus quis ante nec consequat.</p>
        <section class='interaction-section'>
          <p>Comments: X, Likes: Y</p>
        </section>
      </li>
      <li class='post-item'>
        <h3 class='post-number'>Post #4</h3>
        <p class='post-content'>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi iaculis augue nisl, ut tempus justo sodales non. Duis blandit imperdiet bibendum. Nulla aliquet ullamcorper eleifend. Cras vitae sem nisl. Nunc leo diam, tincidunt vel iaculis quis, dictum quis ligula. Donec mollis ultrices ante, et blandit velit tincidunt sit amet. Vestibulum maximus quis ante nec consequat.</p>
        <section class='interaction-section'>
          <p>Comments: X, Likes: Y</p>
        </section>
      </li>
    </ul>
    <button>See all posts</button>
  </article>
</article>
