<h3 class='post-number'> <%= post.title %> </h3>
<p class='post-content'> <%= post.text %> </p>
<section class='interaction-section'>
  <p>Comments: <%= post.comments_counter %>, Likes: <%= post.likes_counter %> </p>
</section>
