<article id='posts-article'>
  <section class='user-item'>
    <img src='https://picsum.photos/100', alt='user-avatar', class='user-avatar'/>
    <section class='user-info'>
      <h2 class='user-name'>User Name</h2>
      <p class='user-posts-counter'>Number of posts: X</p>
    </section>
  </section>
  <article class="posts-section">
    <ul id='posts-list'>
      <li class='post-item'>
        <h3 class='post-number'>Post #1</h3>
        <p class='post-content'>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi iaculis augue nisl, ut tempus justo sodales non. Duis blandit imperdiet bibendum. Nulla aliquet ullamcorper eleifend. Cras vitae sem nisl. Nunc leo diam, tincidunt vel iaculis quis, dictum quis ligula. Donec mollis ultrices ante, et blandit velit tincidunt sit amet. Vestibulum maximus quis ante nec consequat.</p>
        <section class='interaction-section'>
          <p>Comments: X, Likes: Y</p>
        </section>
        <section class='comments-list'>
          <ul id='comments-list'>
            <li class='comment-item'> Username: Comment 1 </li>
            <li class='comment-item'> Username: Comment 2 </li>
            <li class='comment-item'> Username: Comment 3 </li>
            <li class='comment-item'> Username: Comment 4 </li>
            <li class='comment-item'> Username: Comment 5 </li>
          </ul>
        </section>
      </li>
      <li class='post-item'>
        <h3 class='post-number'>Post #2</h3>
        <p class='post-content'>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi iaculis augue nisl, ut tempus justo sodales non. Duis blandit imperdiet bibendum. Nulla aliquet ullamcorper eleifend. Cras vitae sem nisl. Nunc leo diam, tincidunt vel iaculis quis, dictum quis ligula. Donec mollis ultrices ante, et blandit velit tincidunt sit amet. Vestibulum maximus quis ante nec consequat.</p>
        <section class='interaction-section'>
          <p>Comments: X, Likes: Y</p>
        </section>
        <section class='comments-list'>
          <ul id='comments-list'>
            <li class='comment-item'> Username: Comment 1 </li>
            <li class='comment-item'> Username: Comment 2 </li>
            <li class='comment-item'> Username: Comment 3 </li>
            <li class='comment-item'> Username: Comment 4 </li>
            <li class='comment-item'> Username: Comment 5 </li>
          </ul>
        </section>
      </li>
    </ul>
    <button>Pagination</button>
  </article>
</article>
