<article id='post-details-section'>
  <section class='post-item'>
    <section class="post-deetails-header">
      <h3 class='post-number'>Post #1 by Username</h3>
      <p class='interaction-section'>Comments: X, Likes: Y</p>
    </section>
    <p class='post-content'>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ultricies mauris ac lectus commodo, eget condimentum leo luctus. 
      Suspendisse dictum eu sem quis dignissim. Pellentesque metus libero, posuere at venenatis quis, tempus vitae lectus. Nullam iaculis aliquet ligula placerat porttitor. Sed ullamcorper tincidunt sapien at laoreet. 
      Vivamus mattis, justo a interdum pretium, nisl mauris interdum ipsum, et tincidunt ante leo eget velit. Vestibulum egestas elit quis felis rutrum tempus. Phasellus aliquam ex et commodo pharetra. Nunc vel fringilla mauris, vitae varius libero. 
      Nunc condimentum diam massa, id finibus augue maximus id. Cras cursus nunc eu neque elementum, a aliquet magna suscipit. Pellentesque fermentum lectus malesuada dolor elementum, consequat interdum mauris sodales.
      Quisque nulla nisl, commodo gravida tincidunt non, semper et magna. Proin quis vehicula mi. Sed porta sodales ligula a tincidunt. Aliquam cursus sem non porta fringilla. Quisque ligula dolor, pharetra at velit ut, vehicula finibus diam. Donec condimentum dignissim ex ac feugiat. 
      Vestibulum id ipsum sed libero venenatis ultrices. Donec molestie consequat varius. Donec luctus molestie magna, sit amet condimentum sem efficitur a.
    </p>
    <section class='comments-list'>
      <ul id='comments-list'>
        <li class='comment-item'> Username: Comment 1 </li>
        <li class='comment-item'> Username: Comment 2 </li>
        <li class='comment-item'> Username: Comment 3 </li>
        <li class='comment-item'> Username: Comment 4 </li>
        <li class='comment-item'> Username: Comment 5 </li>
      </ul>
    </section>
  </section>
</article>
