#posts-article {
  display: flex;
  flex-direction: column;
  gap: 35px;
  padding: 5vw;
}

#posts-article .post-header,
#posts-article .comments-list {
  padding: 5px;
}

.post-details-header {
  display: flex;
  justify-content: space-between;
}
