#user-page {
  display: flex;
  flex-direction: column;
  padding: 5vw;
  gap: 35px;
}

#user-data {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

#bio-section {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 5px;
}

.posts-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.posts-section .btn {
  margin: 30px;
}

#posts-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.post-item {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 5px;
}

.post-item .post-item > * {
  padding: 5px;
}

.post-item .with-border {
  border: 2px solid black;
}

.interaction-section {
  text-align: end;
  font-size: 0.8rem;
  margin-top: -10px;
}
