#post-details-section {
  display: flex;
  flex-direction: column;
  gap: 35px;
  padding: 5vw;

  .post-details,
  .comments-list {
    padding: 5px;

    .comment-wrapper {
      display: flex;
      align-items: center;
      min-height: 36px;
    }

    .delete-comment-anchor {
      display: flex;
      align-items: center;
      margin-left: auto;
      padding: 3px;
    }

    .delete-comment-btn {
      height: 20px;
      margin: 5px;
    }
  }

  #flash-messages {
    width: 100%;

    .alert-danger {
      background-color: darkorange;
    }

    .alert-success {
      background-color: darkseagreen;
    }

    .alert {
      color: white;
      padding: 5px 10px;
    }
  }
}
